<app-header title="card"></app-header>

<ion-content padding>
  
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="secondary">
       <ion-icon slot="start" name="pin"></ion-icon>
       <ion-label> Market </ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, quis. Provident autem assumenda non nisi repellat, sapiente amet eum dolorum quas placeat pariatur veritatis incidunt, earum ad facere distinctio animi.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg">

    </ion-img>
  </ion-card>

</ion-content>
