<app-header title="Toast"></app-header>
<ion-content fullscreen class="ion-padding">
    <ion-button expand="block" (click)="onClickSend()">
      Send <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
    <ion-button expand="block" (click)="onClickMessage()"> 
      Message <ion-icon slot="end" name="alert"></ion-icon>
    </ion-button>
    <ion-button expand="block" (click)="onClickOpen()">
      Open <ion-icon slot="end" name="mail-open"></ion-icon>
    </ion-button>
</ion-content>
